body {
  background: lightblue;
  font-family: "Kosugi Maru", sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}


#container {
  background-color: pink;
  font-size: 2vh;
  color: deeppink;
  text-align: center;
  padding: 2vh;
  margin: 2%;
}
#display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 1rem auto;
}

#card {
  background-color: palevioletred;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin: 1rem auto;
  align-items: center;
}

#cover {
  width: 80%;
}

#text {
  font-size: 5rem;
  padding: 2vh;
}

#pika {
  border-radius: 25px;
  border: 6px solid #f7cb05;
  padding: 10px;
  width: 15%;
}

#note {
  font-size: 30px;
  padding: 20px;
}

#example-header {
  font-size: 30px;
  padding: 10px;
  text-align: left;
  color: dodgerblue;
}

#example {
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.text-box {
  width: 23rem;
  height: 10rem;
  font-size: 2rem;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  height: 5vh;
}

label {
  font-size: 3rem;
  padding: 4vh;
}

#btn,
#btn:link,
#btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 2rem 4rem;
display: inline-block;
margin: 1rem;
font-size: 2rem;
border-radius: 10rem;
transition: all 0.2s;
position: relative;
animation: moveInBottom 0.5s ease-out 0.75s;
animation-fill-mode: backwards;
}
#btn:hover {
transform: translateY(-0.3rem);
box-shadow: 0 1rem 2rem rgba(0, 0, 0.2);
}
#btn:active {
transform: translateY(-1px);
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}

#btn {
color: deeppink;
background-color: #e8fbff;
border-color: dodgerblue;
}

#remove,
#remove:link,
#remove:visited {
text-transform: uppercase;
text-decoration: none;
padding: 2rem 4rem;
display: inline-block;
margin: 1rem;
font-size: 2rem;
border-radius: 10rem;
transition: all 0.2s;
position: relative;
animation: moveInBottom 0.5s ease-out 0.75s;
animation-fill-mode: backwards;
}
#remove:hover {
transform: translateY(-0.3rem);
box-shadow: 0 1rem 2rem rgba(0, 0, 0.2);
}
#remove:active {
transform: translateY(-1px);
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}

#remove {
color: darkblue;
background-color: lightpink;
border-color: deeppink;
}

#card-text {
  font-size: 3rem;
  padding: 2vh;
}






