#container-box {
  background-color: pink;

  font-size: 2vh;
  color: deeppink;
  text-align: center;
  padding: 2vh;
  margin: 2%;
}
#text {
  font-size: 5rem;
}

.info {
  font-size: 2rem;
}
.pika {
  border-radius: 25px;
  border: 6px solid #f7cb05;
  padding: 20px;
  width: 10%;
}
.name {
  font-size: 20px;
  color: darkblue;
}

body {
  background: lightblue;
  font-family: "Kosugi Maru", sans-serif;
}
